[Desktop Entry]
Name=Firefox Developer Edition
Type=Application
Exec=firefox-dev
Terminal=false
Icon=firefox-dev-128x128.png
Comment=Navegador web para desarrolladores
NoDisplay=false
Categories=Network;Debug;WebBrowser;WebDevelopment;Development;Utility
X-XFCE-Source=file:///usr/share/applications/firefoxDev.desktop
