[Desktop Entry]
Name=CPW Calc
Type=Application
Exec=cpw_calc
Terminal=false
Icon=cpw-calc-128x128.png
Comment=Calculadora
NoDisplay=false
Categories=Utility
X-GNOME-Autostart-Delay=60
X-GNOME-Autostart-enabled=true
X-XFCE-Source=file:///home/josefelixrc/.local/share/applications/cpw_calc.desktop
