[Desktop Entry]
Type=Application
Name=Code
Comment=Edit code files
GenericName=Code Editor
Exec=io.elementary.code %U
Icon=io.elementary.code
Terminal=false
Categories=Development;GTK;IDE;WebDevelopment;
Keywords=text;IDE;scratch;
MimeType=text/plain;inode/directory;
StartupNotify=true
Actions=NewWindow;NewFile;
X-XFCE-Source=file:///usr/share/applications/io.elementary.code.desktop

[Desktop Action NewFile]
Name=New File
Exec=io.elementary.code --new-tab

[Desktop Action NewWindow]
Name=New Window
Exec=io.elementary.code --new-window
